* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-image: url(https://www.motortrend.com/files/6740cdd5dc8b4600082c7206/001-2025-bmw-i4-edrive40-lead.jpg?w=768&width=768&q=75&format=webp); */
  background-image: url(./images/labar.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 20px 30px;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo span {
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
}
.logo span:hover {
  color: #ffa500;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  gap: 15px;
}

.nav-items li {
  margin: 0 15px;
}

.nav-items a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
}

.nav-items a:hover {
  color: #ffa500;
  text-decoration: underline;
}

.main {
  /* margin-left: 180px; */
  margin-top: 150px;
  text-transform: initial;
  text-transform: uppercase;
  font-size: 18px;

  text-align: center;
  color: #fff;
  font-family: sans-serif;
}
.main h1 {
  font-weight: 500px;
  margin-bottom: 30px;
  color: blue;
}
.main p {
  font-weight: 400;
  text-align: center;
  line-height: 1;
  margin-left: 50px;
  text-transform: lowercase;
  font-size: 22px;
}

@media (max-width: 768px) {
  .nav-items {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }
  .nav-items a {
    color: black;
    text-align: center;
    font-size: 30px;
    
    cursor: pointer;
  }
  .logo {
    display: none;
  }
}
/* section two  start*/
.severics {
  width: 100%;
  background-color: #fff;
  margin-top: 20%;
}
/* section 2 h2 styling */
h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 900;
  padding-top: 20px;
  cursor: pointer;
  color: #ffa500;
}

.container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* item style */
.item1 {
  width: 350px;
  height: 400px;

  margin: 50px 40px;
  box-shadow: 2px 2px 5px 0px gray;
}
.item1 img {
  padding-left: 60px;
}
.item1 h1 {
  font-size: 20px;
  font-family: sans-serif;
  padding-left: 40px;
  text-transform: capitalize;
}
.item1 p {
  padding-left: 40px;
  padding-top: 15px;
  line-height: 1.5;
}

.item1:hover {
  cursor: pointer;
  background-color: blue;
  color: #fff;
}
/* item1 style complet */

/* complet second section */

.section3 {
}
/* styling h1 section 3 */
.sect3h1 {
  text-align: center;
  text-transform: capitalize;
  font-family: Poppins;
  font-weight: 800;
  padding-top: 60px;
  letter-spacing: 1px;
  color: #818998;
}

.sect3p {
  text-align: center;
  color: #818998;
}
/* complete header section in section3 */
.newcar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.newcar img {
  border-radius: 8px;
  margin-left: 40px;
  margin-top: 30px;
}

.aboutnewcar {
  width: 600px;
  height: 300px;
  float: right;
  padding: 50px;
}

.aboutnewcar h3 {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: rgb(53, 50, 50);
}

.carlorem {
  font-size: 20px;
  justify-content: center;

  color: #616469;
}
.btn {
  margin-top: 30px;
  padding: 18px 30px;
  width: 150px;
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: rgb(238, 82, 25);
}
.btn:hover {
  cursor: pointer;
  background-color: blue;
}
/* complete section three */

/* startsection 4 */
.section4 {
  width: 100%;
}
/* styling the sec 4 h1 and p */
.sect4h1 {
  text-align: center;
  text-transform: capitalize;
  font-family: Poppins;
  font-weight: 800;
  padding-top: 60px;
  letter-spacing: 1px;
  color: #171718;
}

.sect4p {
  text-align: center;
  color: #818998;
}

.carcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.car1 {
  width: 350px;
  height: 400px;
  margin: 50px 40px;

  box-shadow: 2px 2px 5px 0px gray;
  border: 2px solid rgb(236, 207, 207);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.car1:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.car1 img {
  align-items: center;
  padding: 40px 20px;
}

.car1 p {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(31, 31, 122);
}
/* style btn1 sec 4 */
.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  width: 140px;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: white;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 100px;
  margin-bottom: 80px;
}
.btn1:hover {
  background-color: black;
  color: #fff;
}
/* ***************************************************&&&&&&&&&&&&&&&&&&&&&&&&&&&&& error don mashaallah */
/* section 4 complete */

/* section 5 start */

.section5 {
  width: 100%;
}

.brand {
  display: flex;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* brand styling  */
.comp1 {
  margin-top: 90px;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.comp1:hover {
  transform: scale(1.1);
}

.footer {
  width: 100%;

  margin-bottom: 0;

  background-color: #7398db;
}
.footercon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.aboutlogo {
  width: 400px;
  height: 300px;

  margin-left: 30px;
}

.footerp {
  padding-top: 20px;
  font-size: 18px;
  color: white;
}
.footerinfo {
  color: #fff;
}
.brands {
  margin-top: 20px;
  margin-left: 55px;
}

.BRP {
  color: black;
  margin-left: 8px;
  font-weight: bold;
  font-size: 20px;
}
.BRP:hover {
  color: red;
}
.brands li {
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
.brands li:hover {
  color: #ffa500;
  cursor: pointer;
}
.newslet h3 {
  margin-top: 30px;
  margin-left: 50px;
}
.newslet h3:hover {
  color: red;
}
.newsp {
  padding-top: 30px;
  color: white;
  margin-left: 30px;
}
